---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "contact/"
eleventyNavigation:
  key: Kontakt
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
  <div class="cs-container">
    <h1 class="cs-int-title">Kontakt</h1>
  </div>
</div>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
  <div class="cs-container">
    <form id="cs-form" name="Contact Form" method="post">
      <div class="cs-content">
        <span class="cs-topper">Kontakt</span>
        <h2 class="cs-title">Noch Fragen?</h2>
        <p class="cs-text">
          Bei jeglichen Fragen zu Leistungen und Angeboten, können Sie uns gerne
          kontaktieren. Wir melden uns schnellstmöglich bei Ihnen.
        </p>
      </div>
      <label>
        Ihr Name *
        <input
          required
          type="text"
          id="name"
          name="name"
          placeholder="Max Mustermann"
        />
      </label>
      <label>
        Email *
        <input
          required
          type="text"
          id="email"
          name="email"
          placeholder="Email"
        />
      </label>
      <label>
        Telefonnummer *
        <input
          required
          type="text"
          id="phone"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label>
        Wie haben Sie uns gefunden?
        <select id="find" name="find-us">
          <option value="" disabled selected>
            Wie haben Sie uns Gefunden?
          </option>
          <option value="search-engine">Suchmaschine</option>
          <option value="social-media">Soziale Medien</option>
          <option value="friend">Freunde und Familie</option>
          <option value="advertisement">Werbung (Print / Medien)</option>
          <option value="other">Andere</option>
        </select>
      </label>
      <label class="cs-label-message">
        Nachricht
        <textarea
          required
          name="Message"
          id="message"
          placeholder="Wie können wir Ihnen helfen?"
        ></textarea>
      </label>
      <label class="cs-label-checkbox">
        <input type="checkbox" />
        Ich habe die Datenschutzerklärung gelesen und akzeptiere sie.*
      </label>
      <button class="cs-button-solid" type="submit">Senden</button>
    </form>
    <div class="cs-right-section">
      <!--Email-->
      <span class="cs-header">Email</span>
      <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
      <!--Phone-->
      <span class="cs-header">Telefonnummer</span>
      <a class="cs-link" href="tel:{{client.phoneForTel}}"
        >{{client.phoneFormatted}}</a
      >
      <!--Address-->
      <span class="cs-header">Hier finden Sie uns</span>
      <a class="cs-link" href="{{client.address.mapLink}}">
        {{client.address.lineOne}}
        <br />
        {{client.address.lineTwo}}
        <br />
        <br />
        <span class="cs-block">
          {{client.address.zip}} {{client.address.city}}
        </span>
      </a>

      <!-- Background Image-->
      <picture class="cs-bg-picture">
        <source media="(min-width: 601px)" srcset="/assets/images/faq.jpg" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/faq.jpg"
          alt="building"
          loading="lazy"
          width="2500"
          height="1667"
        />
      </picture>
    </div>
  </div>
  <section id="map-720">
    <!--Download the pin icon, in Figma create a 1920x600 rectangle and make its background a screenshot of the Google Maps location of your clients business location, make sure their actual location is at the center. Doesn't have to be EXACT. Then add the pin in Figma and absolutely position it where its location is in the map.  Highlight everything and hit CTRL G to group it, then export that section as a png.  Now you have your map graphic made for your client. Make an 800X1000 center crop of the image to load on mobile. Then remove this img tag for the icon. -->
    <img
      class="cs-icon"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fred-pin.svg"
      alt="icon"
      decoding="async"
      width="80"
      height="80"
      aria-hidden="true"
    />
    <picture class="cs-background">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/googlemap.png"
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/googlemap.png"
      />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/googlemap.png"
        alt="map"
        width="1280"
        height="600"
      />
    </picture>
  </section>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

{% endblock %}
