---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "contact/"
eleventyNavigation:
  key: Kontakt
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
  <div class="cs-container">
    <h1 class="cs-int-title">Kontakt</h1>
  </div>
  <svg
    class="cs-mask"
    xmlns="http://www.w3.org/2000/svg"
    width="1920"
    height="136"
    viewBox="0 0 1920 136"
    fill="none"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z"
      fill="var(--maskBG)"
    />
  </svg>
</div>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
  <div class="cs-container">
    <form id="cs-form" name="Contact Form" method="post">
      <div class="cs-content">
        <span class="cs-topper">Kontakt</span>
        <h2 class="cs-title">Noch Fragen?</h2>
        <p class="cs-text">
          Bei jeglichen Fragen zu Leistungen und Angeboten, können Sie uns gerne
          kontaktieren. Wir melden uns schnellstmöglich bei Ihnen.
        </p>
      </div>
      <label>
        Ihr Name *
        <input
          required
          type="text"
          id="name"
          name="name"
          placeholder="Max Mustermann"
        />
      </label>
      <label>
        Email *
        <input
          required
          type="text"
          id="email"
          name="email"
          placeholder="Email"
        />
      </label>
      <label>
        Telefonnummer *
        <input
          required
          type="text"
          id="phone"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label>
        Wie haben Sie uns gefunden?
        <select id="find" name="find-us">
          <option value="" disabled selected>
            Wie haben Sie uns Gefunden?
          </option>
          <option value="search-engine">Suchmaschine</option>
          <option value="social-media">Soziale Medien</option>
          <option value="friend">Freunde und Familie</option>
          <option value="advertisement">Werbung (Print / Medien)</option>
          <option value="other">Andere</option>
        </select>
      </label>
      <label class="cs-label-message">
        Nachricht
        <textarea
          required
          name="Message"
          id="message"
          placeholder="Wie können wir Ihnen helfen?"
        ></textarea>
      </label>
      <label class="cs-label-checkbox">
        <input type="checkbox">
        Ich habe die Datenschutzerklärung gelesen und akzeptiere sie.*
        </input>
      </label>
      <button class="cs-button-solid" type="submit">Senden</button>
    </form>
    <div class="cs-right-section">
      <!--Email-->
      <span class="cs-header">Email</span>
      <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
      <!--Phone-->
      <span class="cs-header">Telefonnummer</span>
      <a class="cs-link" href="tel:{{client.phoneForTel}}"
        >{{client.phoneFormatted}}</a
      >
      <!--Address-->
      <span class="cs-header">Hier finden Sie uns</span>
      <a class="cs-link" href="{{client.address.mapLink}}">
        {{client.address.lineOne}}
        <br />
        {{client.address.lineTwo}}
        <br />
        <br />
        <span class="cs-block">
          {{client.address.zip}} {{client.address.city}}
        </span>
      </a>

      <!-- Background Image-->
      <picture class="cs-bg-picture">
        <source media="(min-width: 601px)" srcset="/assets/images/faq.jpg" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/faq.jpg"
          alt="building"
          loading="lazy"
          width="2500"
          height="1667"
        />
      </picture>
    </div>
  </div>
</section>
{% endblock %}
