/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1977 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    background-color: var(--darkBackground);
  }
  #services-1977 .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 60px - 100px */
    gap: clamp(3.75rem, 8vw, 6.25rem);
  }
  #services-1977 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1977 .cs-title,
  #services-1977 .cs-text {
    color: #fff;
  }
  #services-1977 .cs-text {
    opacity: 0.8;
  }
  #services-1977 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1977 .cs-ul {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #services-1977 .cs-li {
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: 0 0 2rem 0;
    border-bottom: 1px solid rgba(72, 72, 72, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* 20px - 32px */
    gap: clamp(1.25rem, 3.5vw, 2rem);
  }
  #services-1977 .cs-li:last-of-type {
    padding: 0;
    border: none;
  }
  #services-1977 .cs-li-picture {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1977 .cs-li-icon {
    /* 64px - 80px */
    width: clamp(4rem, 8vw, 5rem);
    height: auto;
    display: block;
  }
  #services-1977 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 1rem 0;
    color: #fff;
    transition: color 0.3s;
  }
  #services-1977 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: #fff;
    opacity: 0.8;
  }
  #services-1977 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1977 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3.2vw, 2rem);
    border: 1px solid #484848;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
    z-index: 1;
    transition: border 0.3s;
  }
  #services-1977 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    color: #fff;
    opacity: 0.8;
  }
  #services-1977 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    max-width: fit-content;
    margin-top: auto;
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 3.2vw, 2rem);
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #services-1977 .cs-link:hover {
    color: var(--secondary);
  }
  #services-1977 .cs-picture {
    margin: 0;
    padding: 2.3125rem 0 0 6.1875rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  #services-1977 .cs-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1977 .cs-image {
    width: 11.3125rem;
    height: auto;
  }
  #services-1977 .cs-card-container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #services-1977 .cs-card-picture {
    width: 100%;
    /* 320px - 477px */
    height: clamp(20rem, 50vw, 29.8125rem);
    display: block;
    order: -1;
    position: relative;
    z-index: 2;
  }
  #services-1977 .cs-card-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1977 .cs-card-content {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #services-1977 .cs-h2 {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #services-1977 .cs-card-text {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 1.75vw, 1.25rem);
    line-height: 1.5em;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
  }
  #services-1977 .cs-button-flex {
    display: flex;
    flex-direction: column;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
  }
  #services-1977 .cs-phone {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }
  #services-1977 .cs-card-pic {
    /* 46px - 56px */
    width: clamp(2.875rem, 5vw, 3.5rem);
    height: clamp(2.875rem, 5vw, 3.5rem);
    margin: 0;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    flex: none;
  }
  #services-1977 .cs-card-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #services-1977 .cs-phone-wrapper {
    display: flex;
    flex-direction: column;
  }
  #services-1977 .cs-link-content {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #services-1977 .cs-phone-number {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1977 .cs-wrapper {
    flex-direction: row;
  }
  #services-1977 .cs-ul {
    width: 90%;
    max-width: 23.125rem;
  }
  #services-1977 .cs-picture {
    padding: 2.3125rem 0 0 7.25rem;
  }
  #services-1977 .cs-card-container {
    flex-direction: row;
  }
  #services-1977 .cs-card-picture {
    /* 283px - 477px */
    max-width: clamp(17.6875rem, 30vw, 29.8125rem);
    height: auto;
    align-self: stretch;
  }
  #services-1977 .cs-card-content {
    padding: 3.75rem 2rem;
  }
  #services-1977 .cs-button-flex {
    display: flex;
    align-items: center;
  }
  #services-1977 .cs-button-solid {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1977 .cs-container {
    max-width: 80rem;
  }
  #services-1977 .cs-item {
    grid-column: span 6;
  }
  #services-1977 .cs-picture {
    padding: 2.3125rem 0 0 0;
  }
  #services-1977 .cs-card-content {
    padding: 5rem 4rem;
  }
  #services-1977 .cs-button-flex {
    flex-direction: row;
  }
  #services-1977 .cs-button-solid {
    width: auto;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1977 .cs-wrapper {
    align-items: flex-start;
  }
  #services-1977 .cs-ul {
    width: 100%;
    max-width: 36.625rem;
  }
  #services-1977 .cs-picture {
    padding: 2.3125rem 0 0 3.75rem;
  }
  #services-1977 .cs-card-content {
    padding: 6.875rem 4rem;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-2014 {
    padding: var(--sectionPadding);
    background-color: var(--darkBackground);
    overflow: hidden;
    position: relative;
  }
  #steps-2014::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
  }
  #steps-2014 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-2014 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-2014 .cs-text {
    max-width: 56.25rem;
    color: var(--bodyTextColorWhite);
  }
  #steps-2014 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #steps-2014 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #steps-2014 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1.5rem, 3.1vw, 2rem) clamp(1rem, 2.3vw, 2rem);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    position: relative;
    transition: border 0.3s;
  }
  #steps-2014 .cs-item:hover {
    border: 1px solid var(--primary);
  }
  #steps-2014 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #steps-2014 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #steps-2014 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #steps-2014 .cs-number-wrapper {
    width: 3rem;
    height: 3rem;
    margin-top: auto;
    margin-bottom: -1.5rem;
    padding: 0.625rem;
    background-color: var(--headerColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #steps-2014 .cs-number {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
  }
  #steps-2014 .cs-picture {
    width: 100%;
    height: 11.25rem;
    display: block;
    flex: none;
  }
  #steps-2014 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-2014 .cs-container {
    max-width: 80rem;
  }
  #steps-2014 .cs-item {
    grid-column: span 4;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 75rem) {
  #steps-2014 .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #steps-2014 .cs-content {
    text-align: left;
    /* 221x - 305px */
    max-width: clamp(13.8125rem, 21vw, 19.0625rem);
    align-items: flex-start;
  }
}

/*# sourceMappingURL=services.css.map */
