---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/hero-image.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<link rel="stylesheet" href="/assets/css/services.css" />
<link rel="stylesheet" href="/assets/css/stats.css" />
<script defer src="/assets/js/quotes.js"></script>

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Wir kümmern uns um Ihr strahlendes Lächeln!</h1>
      <div class="cs-flex-group">
        <p class="cs-text">
          Mit modernster Technologie und einfühlsamer Betreuung sorgen wir in
          unserer Kölner Praxis dafür, dass Sie sich bei uns von Anfang an
          wohlfühlen.
        </p>
        <a href="" class="cs-button-solid">Termin vereinbaren</a>
      </div>
    </div>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset="/assets/images/hero-image.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/hero-image.jpg" />
    <img
      decoding="async"
      src="/assets/images/hero-image.jpg"
      alt="Zahnarzt"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1977">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">ZAHNPFLEGE FÜR ALLE </span>
      <h2 class="cs-title">Entdecken Sie unsere Leistungen</h2>
      <p class="cs-text">
        Von der Vorsorge bis zur wiederherstellenden Zahnmedizin ist unser Team
        der bestmöglichen zahnmedizinischen Versorgung verpflichtet.
      </p>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tooth-gum.svg"
              decoding="async"
              alt="icon"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Zahnfleischoperation</h3>
            <p class="cs-li-text">
              Modernste chirurgische Techniken zur Behandlung von
              Zahnfleischproblemen. Unsere spezialisierten Eingriffe helfen bei
              der Wiederherstellung eines gesunden Zahnfleischs und schützen
              Ihre Zähne langfristig.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/braces-rubber-bands.svg"
              decoding="async"
              alt="icon"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Zahnversiegelungen</h3>
            <p class="cs-li-text">
              Präventiver Schutz für Ihre Zähne, besonders effektiv bei Kindern
              und Jugendlichen. Die schmerzfreie Versiegelung der Kauflächen
              verhindert Karies und bewahrt die natürliche Zahnsubstanz.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tooth-loosen.svg"
              decoding="async"
              alt="icon"
              width="80"
              height="80"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Zahnfleischerkrankungen</h3>
            <p class="cs-li-text">
              Frühzeitige Diagnose und umfassende Behandlung von Gingivitis bis
              Parodontitis. Wir bieten individuelle Therapiepläne und
              professionelle Beratung zur Vorbeugung von Zahnfleischproblemen.
            </p>
          </div>
        </li>
      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <div class="cs-flex">
            <h3 class="cs-h3">Zahnimplantate</h3>
            <p class="cs-item-text">
              Hochwertige Implantatlösungen für fehlende Zähne. Mit modernster
              3D-Planung und schonender Operationstechnik schaffen wir natürlich
              aussehende, langlebige Ergebnisse für Ihr strahlendes Lächeln.
            </p>
          </div>
          <a href="" class="cs-link"> Mehr Informationen </a>
          <picture class="cs-picture">
            <img
              class="cs-image"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/implant.png"
              alt="icon"
              width="181"
              height="102"
            />
          </picture>
        </li>
        <li class="cs-item">
          <div class="cs-flex">
            <h3 class="cs-h3">Zahnfleisch-OPs</h3>
            <p class="cs-item-text">
              Minimalinvasive chirurgische Eingriffe mit kurzen Heilungszeiten.
              Von Wurzelspitzenresektionen bis zu ästhetischen Korrekturen - wir
              bieten das gesamte Spektrum der modernen Zahnfleischchirurgie.
            </p>
          </div>
          <a href="" class="cs-link"> Mehr Informationen</a>
          <picture class="cs-picture">
            <img
              class="cs-image"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/toothache.png"
              alt="icon"
              width="181"
              height="102"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="cs-card-container">
      <picture class="cs-card-picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-patient.jpeg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-patient.jpeg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-patient.jpeg"
          alt="dentist and patient"
          width="477"
          height="478"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-card-content">
        <h2 class="cs-h2">
          Termin vereinbaren für hochwertige zahnmedizinische Leistungen
        </h2>
        <p class="cs-card-text">
          Von der Vorsorge bis zur wiederherstellenden Zahnmedizin ist unser
          Team der bestmöglichen zahnmedizinischen Versorgung für Sie
          verpflichtet.
        </p>
        <div class="cs-button-flex">
          <a class="cs-button-solid" href="/">Termin Vereinbaren</a>
          <a class="cs-phone" href="">
            <picture class="cs-card-pic">
              <img
                class="cs-card-icon"
                aria-hidden="true"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-phone.svg"
                decoding="async"
                alt="icon"
                width="20"
                height="20"
                loading="lazy"
              />
            </picture>
            <div class="cs-phone-wrapper">
              <span class="cs-phone-number">{{client.phoneFormatted}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                     Quote                    -->
<!-- ============================================ -->

<section id="quote-2012">
  <div class="cs-container">
    <div class="cs-review">
      <span class="cs-topper">Single Quote</span>
      <p class="cs-review-text">
        Vom ersten Termin an fühlte ich mich bestens aufgehoben. Dr. Weber und
        sein Team haben mir jeden Schritt genau erklärt und meine Ängste ernst
        genommen.
      </p>
      <div class="cs-flex-group">
        <span class="cs-name"> Michael Schmidt </span>
        <span class="cs-job"> zufriedener Patient seit 2022</span>
      </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist6.jpg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist6.jpg
              "
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist6.jpg"
              alt="dental patient"
              width="305"
              height="550"
              aria-hidden="true"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist7.jpeg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist7.jpeg
              "
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist7.jpeg"
              alt="dental patient"
              width="305"
              height="550"
              aria-hidden="true"
            />
          </picture>
          <!--On Hover Image-->
          <img
            class="cs-resize"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-resize.svg"
            alt="resize"
            width="60"
            height="60"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist8.jpeg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist8.jpeg
              "
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist8.jpeg"
              alt="dental patient"
              width="305"
              height="550"
              aria-hidden="true"
            />
          </picture>
          <!--On Hover Image-->
          <img
            class="cs-resize"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-resize.svg"
            alt="resize"
            width="60"
            height="60"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist9.jpeg
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist9.jpeg
              "
            />
            <img
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist9.jpeg"
              alt="dental patient"
              width="305"
              height="550"
              aria-hidden="true"
            />
          </picture>
          <!--On Hover Image-->
          <img
            class="cs-resize"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-resize.svg"
            alt="resize"
            width="60"
            height="60"
            aria-hidden="true"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-2014">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">So gehts</span>
      <h2 class="cs-title">Ein Zahnarzt für die ganze Familie</h2>
      <p class="cs-text">
        Wir bieten erstklassige Zahnmedizin für Ihre gesamte Familie. Von der
        Vorsorge bis zur Behandlung sorgen wir dafür, dass jedes
        Familienmitglied die beste zahnmedizinische Versorgung erhält.
      </p>
      <a class="cs-button-solid" href="">Termin vereinbaren</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <h3 class="cs-h3">Termin vereinbaren</h3>
        <p class="cs-item-text">
          Mengeler bietet erstklassigen Service und wurde mehrfach
          ausgezeichnet. Unsere Mission ist es, jedem zu einem selbstbewussten
          Lächeln zu verhelfen.
        </p>
        <div class="cs-number-wrapper">
          <span class="cs-number">01</span>
        </div>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg"
            alt="number"
            width="48"
            height="48"
          />
        </picture>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">Arztbesuch</h3>
        <p class="cs-item-text">
          Wir bieten erstklassigen Service und wurde mehrfach ausgezeichnet.
          Unsere Mission ist es, jedem zu einem selbstbewussten Lächeln zu
          verhelfen.
        </p>
        <div class="cs-number-wrapper">
          <span class="cs-number">02</span>
        </div>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg"
            alt="number"
            width="48"
            height="48"
          />
        </picture>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">Empfohlene Medikamente</h3>
        <p class="cs-item-text">
          Wir bieten erstklassigen Service und wurde mehrfach ausgezeichnet.
          Unsere Mission ist es, jedem zu einem selbstbewussten Lächeln zu
          verhelfen.
        </p>
        <div class="cs-number-wrapper">
          <span class="cs-number">03</span>
        </div>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg"
            alt="number"
            width="48"
            height="48"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
<!-- ============================================ -->
<!--                  Testimonials                -->
<!-- ============================================ -->

<section id="testimonials-2060">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-content">
        <span class="cs-topper">REFERENZEN</span>
        <h2 class="cs-title">Was unsere Patienten sagen</h2>
        <p class="cs-text">
          Entdecken Sie die Erfahrungen unserer zufriedenen Patienten.
          Authentische Berichte, die von unserer Qualität und unserem Engagement
          für Ihre Zahngesundheit zeugen.
        </p>
      </li>
      <li class="cs-item cs-item-green">
        <img
          class="cs-stars"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-stars.png"
          alt="stars"
          width="120"
          height="24"
          aria-hidden="true"
        />
        <h3 class="cs-h3">99,99 % Patientenzufriedenheit</h3>
        <p class="cs-green-text">
          Basierend auf über 750 Bewertungen von 6.154 abgeschlossenen
          Behandlungen
        </p>
        <img
          class="cs-graphic"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dentitch-joined-graphic.svg"
          alt="drops"
          width="528"
          height="830"
          aria-hidden="true"
          decoding="async"
        />
      </li>
      <li class="cs-item cs-item-picture">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-1.png"
            alt="body builder"
            width="630"
            height="877"
          />
        </picture>
      </li>
      <li class="cs-item">
        <img
          class="cs-stars"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png"
          alt="stars"
          width="120"
          height="24"
          aria-hidden="true"
        />
        <h3 class="cs-h3">Lisa Weber</h3>
        <span class="cs-job">Lehrerin</span>
        <p class="cs-quote">
          "Von der professionellen Zahnreinigung bis hin zu aufwändigen
          Behandlungen - das kompetente Team hat mich durch seine Expertise und
          das einfühlsame Vorgehen überzeugt."
        </p>
      </li>
      <li class="cs-item cs-item-picture">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-2.png"
            alt="body builder"
            width="630"
            height="877"
          />
        </picture>
      </li>
      <li class="cs-item">
        <img
          class="cs-stars"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png"
          alt="stars"
          width="120"
          height="24"
          aria-hidden="true"
        />
        <h3 class="cs-h3">Peter Müller</h3>
        <span class="cs-job">Verwaltungsfachangestellter</span>
        <p class="cs-quote">
          "Die moderne Praxis und das freundliche Personal haben mir meine
          Zahnarztangst genommen. Endlich kann ich wieder unbeschwert lächeln."
        </p>
      </li>
      <li class="cs-item cs-item-picture">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dental-testimonial-3.png"
            alt="body builder"
            width="630"
            height="877"
          />
        </picture>
      </li>
      <li class="cs-item">
        <img
          class="cs-stars"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png"
          alt="stars"
          width="120"
          height="24"
          aria-hidden="true"
        />
        <h3 class="cs-h3">Alicia Fernandez</h3>
        <span class="cs-job">Krankenpflegerin</span>
        <p class="cs-quote">
          "Besonders beeindruckt hat mich die ausführliche Beratung und die
          transparente Kommunikation. Hier fühlt man sich als Patientin wirklich
          gut aufgehoben."
        </p>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
