/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1519 {
    padding: var(--sectionPadding);
    /* 190px - 268px */
    padding-top: clamp(11.875rem, 25vw, 16.75rem);
    /* 100px - 150px */
    padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: var(--darkBackground);

    .cs-container {
      text-align: center;
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 8px - 12px */
      gap: clamp(0.5rem, 1vw, 0.75rem);
    }

    .cs-int-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      margin: 0;
      color: var(--bodyTextColorWhite);
      position: relative;
    }

    .cs-breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColor);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-of-type {
        /* remove the chevron on the last list item */
        &::after {
          display: none;
        }
      }

      &:after {
        /* chevron */
        content: "";
        width: calc(7 / 16 * 1rem);
        height: calc(12 / 16 * 1rem);
        margin: 0 calc(16 / 16 * 1rem);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-chevron.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
      }

      &.cs-active {
        color: var(--primary);
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #fff3ec;
        opacity: 0.8;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    .cs-mask {
      --maskBG: #ffffff;

      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 100;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1519 {
    .cs-background {
      &:before {
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 243, 236, 0.9) 23.05%,
          rgba(255, 243, 236, 0) 80.08%
        );
        opacity: 1;
      }
    }

    .cs-mask {
      --maskBG: var(--darkBackground);
    }
  }
}

/*-- -------------------------- -->
<---        Meet the Team       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-2080 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to center if content needs to be centered */
      text-align: left;
      width: 100%;
      margin-bottom: calc(48 / 16 * 1rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      /* left aligns content, set to center to align content horizontally */
      align-items: flex-start;
      grid-column: span 12;
    }

    .cs-card-group {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
      position: relative;
    }

    .cs-item {
      min-height: calc(360 / 16 * 1rem);
      overflow: hidden;
      border-radius: calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      grid-column: span 12;
      position: relative;

      &:last-of-type {
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background: var(--primary);
          opacity: 0.1;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        /* forces the top if the images to always be at the top of the container */
        object-position: top;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-info {
      width: 90%;
      margin: calc(16 / 16 * 1rem);
      padding: calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
      background-color: #fff;
      overflow: hidden;
      border-radius: calc(8 / 16 * 1rem);
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 calc(4 / 16 * 1rem);
      color: var(--headerColor);
    }

    .cs-cta {
      text-align: left;
      width: 100%;
      height: 100%;
      max-height: calc(406 / 16 * 1rem);
      min-height: calc(360 / 16 * 1rem);
      margin-bottom: auto;
      padding: calc(24 / 16 * 1rem);
      overflow: hidden;
      border: 1px solid var(--primary);
      border-radius: calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      grid-column: span 12;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-h2 {
      font-size: calc(31 / 16 * 1rem);
      font-weight: 900;
      line-height: 1.2em;
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-job {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      color: var(--bodyTextColor);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-2080 {
    .cs-container {
      max-width: 90rem;
    }

    .cs-content {
      min-height: calc(360 / 16 * 1rem);
      margin-bottom: auto;
      grid-column: span 6;
    }

    .cs-item,
    .cs-cta {
      grid-column: span 6;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-2080 {
    .cs-content,
    .cs-item,
    .cs-cta {
      min-height: calc(406 / 16 * 1rem);
      grid-column: span 4;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-2080 {
    .cs-content,
    .cs-item,
    .cs-cta {
      grid-column: span 3;
    }
  }
}

/*-- -------------------------- -->
<---          Careers           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #careers-2065 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: 90rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-wrapper {
      display: flex;
      flex-direction: column;
      /* 32px - 48px */
      gap: clamp(2rem, 4vw, 3rem);
    }

    .cs-picture {
      width: 100%;
      /* 400px - 752px */
      height: clamp(25rem, 50vw, 47rem);
      overflow: hidden;
      border-radius: calc(16 / 16 * 1rem);
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-events {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(40 / 16 * 1rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: calc(32 / 16 * 1rem);
    }

    .cs-item {
      text-decoration: none;
      list-style: none;
      width: 100%;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      padding-bottom: calc(32 / 16 * 1rem);
      overflow: hidden;
      border-bottom: 1px solid #e8e8e8;
      /* 16px - 24px */
      gap: clamp(1rem, 2vw, 1.5rem);
      position: relative;
      z-index: 1;

      &:last-of-type {
        padding: 0;
        border-bottom: none;
      }
    }

    .cs-info-wrapper {
      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);
      justify-content: space-between;
    }

    .cs-info {
      display: flex;
      flex-direction: column;
    }

    .cs-h3 {
      font-size: calc(25 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-flex {
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      display: flex;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-time,
    .cs-location {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-icon {
      width: calc(16 / 16 * 1rem);
      height: auto;
    }

    .cs-button-solid {
      background-color: transparent;
      color: var(--primary);
      border: 1px solid var(--primary);
      flex: none;
      align-self: flex-start;
      transition: background-color 0.3s;
      margin: 0;

      &:hover {
        background-color: var(--darkBackground);
        color: var(--bodyTextColorWhite);
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #careers-2065 {
    .cs-wrapper {
      flex-direction: row;
    }

    .cs-picture {
      max-width: calc(340 / 16 * 1rem);
      height: auto;
    }

    .cs-events {
      width: 70%;
      min-width: calc(388 / 16 * 1rem);
      justify-content: flex-start;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #careers-2065 {
    .cs-info-wrapper {
      flex-direction: row;
    }
  }
}

/*-- -------------------------- -->
<---            Separator Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1969 {
    padding: var(--sectionPadding);
    /* 160px - 200px */
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: var(--darkBackground);

    .cs-container {
      width: 100%;
      max-width: 90rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      position: relative;
      z-index: 1;
    }

    .cs-content {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      z-index: 1;
    }

    .cs-title {
      /* 39px - 80px */
      font-size: var(--headerFontSize);
      max-width: 25ch;
      color: var(--bodyTextColorWhite);
    }

    .cs-flex {
      /* changes to 455px at large desktop */
      max-width: calc(960 / 16 * 1rem);
    }

    .cs-text {
      max-width: 100%;
      color: var(--bodyTextColorWhite);
    }

    .cs-wrapper {
      width: 100%;
      box-sizing: border-box;
      padding: calc(16 / 16 * 1rem);
      padding-top: calc(402 / 16 * 1rem);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
      min-height: 40rem;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: calc(20 / 16 * 1rem);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .cs-form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-form {
      width: 100%;
      box-sizing: border-box;
      /* 24px - 48px top and bottom */
      /* 16px - 48px left and right */
      padding: calc(12 / 16 * 1rem);
      background-color: #fff;
      /* prevents flexbox from affecting height and width */
      border-radius: calc(24 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-form-picture {
      width: 100%;
      /* 180px - 235px */
      height: clamp(11.25rem, 28vw, 14.6875rem);
      box-sizing: border-box;
      background-color: #dab692;
      /* clips img tag from overflowing it on hover */
      overflow: hidden;
      /* 100px - 220px */
      border-radius: calc(16 / 16 * 1rem);
      display: block;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.7s;
      }
    }

    .cs-label {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      width: 100%;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-column: span 12;
      gap: calc(4 / 16 * 1rem);
    }

    .cs-input {
      font-size: calc(16 / 16 * 1rem);
      width: 100%;
      height: calc(56 / 16 * 1rem);
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      padding: 0 calc(16 / 16 * 1rem);
      background-color: #f7f7f7;
      color: var(--bodyTextColor);
      border: none;
      border-radius: calc(16 / 16 * 1rem);

      &::placeholder {
        color: var(--bodyTextColor);
      }
    }

    .cs-textarea {
      font-family: inherit;
      min-height: calc(120 / 16 * 1rem);
      margin: 0;
      padding-top: calc(24 / 16 * 1rem);
    }

    .cs-submit {
      width: 100%;
      min-width: calc(200 / 16 * 1rem);
      /* 16px - 36px */
      margin-top: calc(8 / 16 * 1rem);
      border: none;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1969 {
    .cs-wrapper {
      padding: calc(80 / 16 * 1rem) calc(28 / 16 * 1rem);
      align-items: flex-end;
    }

    .cs-form-wrapper {
      max-width: calc(374 / 16 * 1rem);
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1969 {
    .cs-title {
      margin: 0;
    }

    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: calc(64 / 16 * 1rem);
    }

    .cs-flex {
      width: 50%;
      max-width: calc(455 / 16 * 1rem);
    }

    .cs-wrapper {
      padding: calc(80 / 16 * 1rem);
    }
  }
}
